body, html {
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #833ab4, #1287a5);
}


/** HEADER && NAV BAR **/

header {
    background-color: #2B061E;
    color: #F7FFF7;
    padding: 15px 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #2B061E;
}

.navbar li {
   /* padding-left: 10%; */
    display: inline;
    margin-right: 20px;
    font-size: 2em;
}

.navbar li a {
    text-decoration: none;
    color: #F7FFF7;
}

.navbar li a:hover{
    text-decoration: none;
    color: #B88E8D;
}

.logo-img {
    float: left; /* Float the image to the left */
    margin-right: 20px; /* Add margin for spacing */
    width: 200px; /* Set width as needed */
    height: auto; /* Maintain aspect ratio */
    padding-top: 10px;
}



.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2B061E;
    min-width: 120px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #F7FFF7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2B061E;
    color: #B88E8D;

}

/* BOOTSTRAP CARD */


.card {
    max-width: 400px;
    max-height: 800px;
    width: 90%;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}

.card-title {
    font-size: 2.1em;
    color: #833AB4;
    margin-bottom: 2vw;
}

.card-text {
    font-size: 1.1em;
    color: #1287A5;
    margin-bottom: .5vw;
}

.card .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card .btn-secondary {
    background-color: #2B061E;
    color: #F7FFF7;
    /*border-color: pink; */
}

/** FOOTER **/
/* Your existing styles */

footer {
    background-color: #2B061E;
    color: #F7FFF7;
    text-align: center;
    padding: 15px 0;
    position: sticky;
    bottom: 0;
}

.footer-content {
    font-size: 1.5em;
}

.footer-content p {
    margin: 0;
}

