body, html {
    background-image: url('images/backgroundGradient.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    height: 100%

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


/** HEADER && NAV BAR **/

header {
    background-color: #2B061E;
    color: #F7FFF7;
    padding: 15px 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #2B061E;
}

.navbar li {
    /* padding-left: 10%; */
    display: inline;
    margin-right: 20px;
    font-size: 2em;
}

.navbar li a {
    text-decoration: none;
    color: #F7FFF7;
}

.navbar li a:hover{
    text-decoration: none;
    color: #B88E8D;
}

.logo-img {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;
    padding-top: 10px;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2B061E;
    min-width: 120px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #F7FFF7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2B061E;
    color: #B88E8D;

}

/** MAIN **/

main {
    flex: 1;
    padding: 20px;
}


.timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.event-content h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.event-content p {
    margin-bottom: 10px;
}


/** FOOTER **/

footer {
    background-color: #2B061E;
    color: #F7FFF7;
    text-align: center;
    padding: 15px 0;
    position: sticky;
    bottom: 0;
}

.footer-content {
    font-size: 1.5em;
}

.footer-content p {
    margin: 0;
}
